.ghi-ch3 {
  position: absolute;
  top: 426px;
  left: 46px;
  font-weight: 500;
}
.tng-tin9 {
  position: absolute;
  top: 602px;
  left: 31px;
  font-size: var(--font-size-3xl);
}
.qun-l-t-mn-child40 {
  position: absolute;
  top: 463px;
  left: 38px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-600);
  box-sizing: border-box;
  width: 311px;
  height: 100px;
}
.gi-350003,
.xc-nhn6 {
  position: absolute;
  top: 602px;
  left: 231px;
  font-size: var(--font-size-3xl);
  font-weight: 600;
  color: var(--color-gold);
}
.xc-nhn6 {
  top: 682px;
  left: 136px;
  font-size: var(--font-size-9xl);
  color: var(--color-white);
}
.qun-l-t-mn-child41 {
  position: absolute;
  top: 788px;
  left: 0;
  background-color: var(--color-gray-700);
  width: 393px;
  height: 61px;
}
.home-icon5 {
  position: absolute;
  top: 796px;
  left: 56px;
  width: 41px;
  height: 41px;
  overflow: hidden;
  cursor: pointer;
}
.shopping-cart-icon4 {
  position: absolute;
  top: 801px;
  left: 195px;
  width: 37px;
  height: 37px;
  overflow: hidden;
}
.qun-l-t-mn-child42 {
  position: absolute;
  top: 797px;
  left: 226px;
  border-radius: 50%;
  background-color: var(--color-firebrick);
  width: 10px;
  height: 10px;
}
.group-icon10 {
  position: absolute;
  height: 3.17%;
  width: 7.53%;
  top: 94.37%;
  right: 10.36%;
  bottom: 2.46%;
  left: 82.11%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.div54 {
  position: absolute;
  top: 798px;
  left: 230px;
  font-size: var(--font-size-8xs);
  font-weight: 600;
  color: var(--color-white);
}
.qun-l-t-mn-child43 {
  position: absolute;
  top: 124px;
  left: 22px;
  border-radius: var(--br-xl);
  background: linear-gradient(
    145.66deg,
    rgba(88, 55, 50, 0) 3.07%,
    rgba(88, 55, 50, 0.49)
  );
  width: 129px;
  height: 139px;
}
.cafe-mui14,
.gi-200006 {
  position: absolute;
  top: 152px;
  left: 180px;
}
.gi-200006 {
  top: 182px;
  font-weight: 600;
  color: var(--color-gold);
}
.add-circle-outline6,
.remove-circle-outline6 {
  position: absolute;
  top: 225px;
  left: 258px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.remove-circle-outline6 {
  left: 168px;
}
.qun-l-t-mn-child44 {
  position: absolute;
  top: 108px;
  left: 22px;
  width: 123px;
  height: 150px;
  object-fit: cover;
}
.qun-l-t-mn-child45 {
  position: absolute;
  top: 0;
  left: -4px;
  width: 412px;
  height: 59px;
}
.gi-hng3 {
  position: absolute;
  top: 63px;
  left: 26px;
  font-size: var(--text-size);
  font-weight: 500;
}
.cancel-icon9,
.qun-l-t-mn-child46 {
  position: absolute;
  top: 11px;
  left: 339px;
  width: 36px;
  height: 31px;
}
.cancel-icon9 {
  top: 164px;
  left: 333px;
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.button-2-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-sienna-100);
}
.xc-nhn7 {
  position: absolute;
  top: 19.72%;
  left: 29.48%;
  font-weight: 600;
}
.button-22 {
  position: absolute;
  top: 682px;
  left: 31px;
  width: 329px;
  height: 71px;
  font-size: var(--font-size-9xl);
  color: var(--color-white);
}
.div55 {
  position: absolute;
  top: 228px;
  left: 224px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--color-black);
}
.qun-l-t-mn4 {
  width: 100%;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  height: 852px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-500);
  font-family: var(--font-poppins);
}
