.thc-ung3 {
  position: absolute;
  top: 15px;
  left: 12px;
  font-weight: 500;
}
.thc-ung-wrapper {
  position: absolute;
  top: 460px;
  left: 22px;
  width: 182px;
  height: 57px;
  overflow: hidden;
  cursor: pointer;
}
.qun-l-t-mn-child23 {
  position: absolute;
  top: 475px;
  left: 213px;
  border-radius: var(--br-3xs);
  background-color: var(--color-sienna-200);
  width: 163px;
  height: 45px;
}
.best-seller1,
.menu6,
.mn-n3 {
  position: absolute;
  font-weight: 500;
}
.menu6 {
  top: 59px;
  left: 22px;
  font-size: var(--text-size);
}
.best-seller1,
.mn-n3 {
  top: 183px;
  left: 19px;
}
.mn-n3 {
  top: 475px;
  left: 240px;
}
.qun-l-t-mn-child24 {
  position: absolute;
  top: 59px;
  left: 321px;
  border-radius: 50%;
  width: 46px;
  height: 45px;
  object-fit: cover;
}
.group-child21 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-whitesmoke-100);
  width: 346px;
  height: 60px;
}
.search-icon1,
.tm-kim2 {
  position: absolute;
  top: 13px;
  left: 52px;
}
.search-icon1 {
  top: 11px;
  left: 15px;
  width: 38px;
  height: 38px;
  overflow: hidden;
}
.rectangle-container {
  position: absolute;
  top: 116px;
  left: 15px;
  width: 346px;
  height: 60px;
  font-size: var(--font-size-3xl);
  color: var(--color-darkgray);
}
.qun-l-t-mn-child25 {
  position: absolute;
  top: -6px;
  left: 150px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.qun-l-t-mn-child26 {
  position: absolute;
  top: 0;
  left: 0;
  width: 408px;
  height: 52px;
}
.group-child22,
.qun-l-t-mn-child28 {
  position: absolute;
  top: 15px;
  left: 338px;
  width: 36px;
  height: 31px;
}
.group-child22 {
  top: 68px;
  left: 0;
  border-radius: var(--br-xl);
  width: 374px;
  height: 152px;
}
.image-2-icon1 {
  position: absolute;
  top: 0;
  left: 203px;
  width: 157px;
  height: 222px;
  object-fit: cover;
}
.cafe-mui12,
.cafe-sa3 {
  position: absolute;
  top: 80px;
  left: 98px;
  font-weight: 500;
  display: inline-block;
  width: 167px;
  height: 16px;
}
.cafe-mui12 {
  top: 161px;
  left: 1px;
  width: 123px;
  height: 26px;
}
.vector-parent1 {
  position: absolute;
  top: 176px;
  left: 9px;
  width: 374px;
  height: 222px;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.qun-l-t-mn-child29 {
  position: absolute;
  top: 791px;
  left: 1px;
  background-color: var(--color-gray-700);
  width: 393px;
  height: 61px;
}
.home-icon3,
.shopping-cart-icon2 {
  position: absolute;
  top: 799px;
  left: 57px;
  width: 41px;
  height: 41px;
  overflow: hidden;
}
.shopping-cart-icon2 {
  top: 804px;
  left: 196px;
  width: 37px;
  height: 37px;
  cursor: pointer;
}
.qun-l-t-mn-child30 {
  position: absolute;
  top: 800px;
  left: 227px;
  border-radius: 50%;
  background-color: var(--color-firebrick);
  width: 10px;
  height: 10px;
}
.group-icon8 {
  position: absolute;
  height: 3.17%;
  width: 7.53%;
  top: 94.72%;
  right: 10.1%;
  bottom: 2.11%;
  left: 82.37%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.div50 {
  position: absolute;
  top: 801px;
  left: 230px;
  font-size: var(--font-size-8xs);
  font-weight: 600;
  color: var(--color-white);
}
.frame-child4 {
  position: absolute;
  top: 18px;
  left: 28px;
  border-radius: var(--br-xl);
  background: linear-gradient(
    145.66deg,
    rgba(88, 55, 50, 0.07) 3.07%,
    rgba(88, 55, 50, 0.49)
  );
  width: 177px;
  height: 214px;
}
.gi-150003,
.kem-ly {
  position: absolute;
  top: 156px;
  left: 92px;
}
.gi-150003 {
  top: 187px;
  left: 76px;
  font-weight: 600;
  color: var(--color-gold);
}
.vector-icon51,
.vector-icon52 {
  position: absolute;
  height: 10.85%;
  width: 2.37%;
  top: 73.9%;
  right: 82.87%;
  bottom: 15.24%;
  left: 14.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon52 {
  height: 8.13%;
  width: 1.78%;
  top: 76.42%;
  right: 82.22%;
  bottom: 15.45%;
  left: 15.99%;
  cursor: pointer;
}
.image-9-icon1 {
  position: absolute;
  top: 30px;
  left: 19px;
  width: 203px;
  height: 117px;
  object-fit: cover;
}
.frame-child5,
.frame-child6,
.frame-child7,
.frame-child8 {
  position: absolute;
  top: 18px;
  left: 244px;
  border-radius: var(--br-xl);
  background: linear-gradient(
    145.66deg,
    rgba(88, 55, 50, 0.07) 3.07%,
    rgba(88, 55, 50, 0.49)
  );
  width: 177px;
  height: 214px;
}
.frame-child6,
.frame-child7,
.frame-child8 {
  left: 460px;
}
.frame-child7,
.frame-child8 {
  left: 676px;
}
.frame-child8 {
  left: 892px;
}
.bnh-flan5,
.bnh-tart-trng {
  position: absolute;
  top: 156px;
  left: 293px;
}
.bnh-tart-trng {
  left: 702px;
}
.gi-150004,
.gi-200003,
.gi-200004,
.gi-25000 {
  position: absolute;
  top: 187px;
  left: 283px;
  font-weight: 600;
  color: var(--color-gold);
}
.gi-200003,
.gi-200004,
.gi-25000 {
  left: 497px;
}
.gi-200003,
.gi-200004 {
  left: 713px;
}
.gi-200004 {
  left: 929px;
}
.vector-icon53,
.vector-icon55,
.vector-icon56,
.vector-icon57,
.vector-icon58 {
  position: absolute;
  height: 10.85%;
  width: 2.37%;
  top: 73.9%;
  right: 64.5%;
  bottom: 15.24%;
  left: 33.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon55,
.vector-icon56,
.vector-icon57,
.vector-icon58 {
  right: 45.52%;
  left: 52.1%;
}
.vector-icon56,
.vector-icon57,
.vector-icon58 {
  right: 26.53%;
  left: 71.09%;
}
.vector-icon57,
.vector-icon58 {
  right: 7.56%;
  left: 90.07%;
}
.vector-icon58 {
  height: 8.13%;
  width: 1.78%;
  top: 76.42%;
  right: 63.2%;
  bottom: 15.45%;
  left: 35.02%;
  cursor: pointer;
}
.frame-child9 {
  position: absolute;
  top: 189px;
  left: 604px;
  width: 19.4px;
  height: 20px;
}
.vector-icon59,
.vector-icon60 {
  position: absolute;
  height: 8.13%;
  width: 1.78%;
  top: 76.83%;
  right: 23.49%;
  bottom: 15.04%;
  left: 74.72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.vector-icon60 {
  top: 76.02%;
  right: 3.64%;
  bottom: 15.85%;
  left: 94.58%;
}
.image-10-icon1 {
  position: absolute;
  top: 25px;
  left: 255px;
  width: 157px;
  height: 127px;
  object-fit: cover;
}
.bnh-tiramisu,
.image-15-icon {
  position: absolute;
  top: 156px;
  left: 492px;
}
.image-15-icon {
  top: 30px;
  left: 679px;
  width: 171px;
  height: 117px;
  object-fit: cover;
}
.bnh-sng-tru {
  position: absolute;
  top: 156px;
  left: 925px;
}
.image-11-icon2,
.image-16-icon {
  position: absolute;
  top: 18px;
  left: 895px;
  width: 177px;
  height: 116px;
  object-fit: cover;
}
.image-11-icon2 {
  top: 25px;
  left: 471px;
  width: 155px;
  height: 118px;
}
.rectangle-parent1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1088px;
  height: 246px;
  overflow: hidden;
}
.qun-l-t-mn-inner2 {
  position: absolute;
  top: 541px;
  left: -13px;
  width: 400px;
  height: 246px;
  overflow-x: auto;
  font-size: var(--font-size-base);
}
.qun-l-t-mn-child31 {
  position: absolute;
  top: 200px;
  left: 62px;
  width: 222px;
  height: 285px;
  object-fit: cover;
}
.qun-l-t-mn2 {
  width: 100%;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  height: 852px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-9xl);
  color: var(--color-dimgray-500);
  font-family: var(--font-poppins);
}
